USE [master]
GO
/****** Object:  Database [Sample_Db]    Script Date: 4/8/2019 3:10:49 PM ******/
CREATE DATABASE [Sample_Db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sample_Db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Sample_Db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sample_Db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Sample_Db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sample_Db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sample_Db]
GO
/****** Object:  Table [dbo].[Customer_Master]    Script Date: 4/8/2019 3:10:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Master](
	[Customer_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Code] [varchar](30) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Frequency_Master]    Script Date: 4/8/2019 3:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Frequency_Master](
	[Frequency_ID] [int] IDENTITY(1,1) NOT NULL,
	[Frequency_Code] [varchar](30) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usecase_Master]    Script Date: 4/8/2019 3:10:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usecase_Master](
	[Usecase_ID] [int] IDENTITY(1,1) NOT NULL,
	[Usecase_Code] [varchar](30) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
